button {
  background-color: #fff;
  border: 1px solid #000;
}

.sum_color,
.pull_color,
.mpn_color,
.disn_color {
  background-color: #e5e5e5;
}
input {
  text-align: center;
  align-items: center;
}
.hov:hover {
  background-color: aqua;
}
